body {
	background-color: black;
	margin: 0;
	padding: 0;
}

#myCanvas {
	display: block;
	margin: 0 auto;
	border: 1px solid white;
	width: 80%;
	height: calc(100vh - 200px);
}

button {
	background-color: white;
	color: black;
	border: 2px solid white;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}

button:hover {
	background-color: gray;
	color: white;
	border-color: gray;
}

div:nth-child(2) {
	text-align: center;
	margin-top: 20px;
}

@media screen and (orientation: landscape) {
	#myCanvas {
		height: calc(100vh - 130px);
	}
	
	div:nth-child(2) {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 10px;
	}
}
