* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  background-color: #202124;
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  overflow-x: hidden;
}

textarea,
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

#connecting-div,
#chatting-div {
  word-wrap: break-word;
  white-space: pre-wrap;
  max-height: 400px;
  overflow-y: auto;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  margin: 0px auto;
  max-width: 95%;
  font-size: 18px;
}

button {
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
}

#connect-msg,
#outgoing-msg {
  display: block;
  width: 100%;
}

#connect-msg {
  margin-top: 50px;
}

.connect,
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat {
  margin-top: 0px;
}

.input {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#send-btn {
  background-color: #1d571f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
}

.hide {
  display: none;
}
