* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  background-color: #202124;
  color: #fff;
  max-width: 500px;
  margin: 0 auto;
  overflow-x: hidden;
}

textarea,
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

#initiator-id,
#chat-text {
  word-wrap: break-word;
  white-space: pre-wrap;
  max-height: 400px;
  overflow-y: auto;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  margin: 0px auto;
  max-width: 95%;
  font-size: 18px;
  width: 500px;
  height: 100px;
}

#chat-text {
  min-height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
}

#peer-id,
#outgoing-msg {
  display: block;
  width: 100%;
}

#peer-id {
  margin-top: 50px;
}

.connect,
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat {
  margin-top: 0px;
}

.input {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#send-btn {
  background-color: #1d571f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
}

.hide {
  display: none;
}

#initiator-id {
  margin-top: 20px;
  height: auto;
}

.initiator-id-copied {
  text-align: center;
}

.instruction {
  margin-top: 30px;
  width: 500px;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

#toggle-enter-behavior {
  width: 150px;
  height: 100px;
  font-size: 18px;
  line-height: 1.6;
  background-color: #3b4e3c;
  color: #fff;
}

pre {
  margin-top: 15px;
}

.peer-msg {
  color: greenyellow;
}

.your-msg {
  color: white;
}